@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-quote pre {
  white-space: pre-wrap !important;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap !important;      /* Opera 4-6 */
  white-space: -o-pre-wrap !important;    /* Opera 7 */
  word-wrap: break-word !important;       /* Internet Explorer 5.5+ */
}

html.dark {
    background: linear-gradient(271deg, #000000, #0c1b2f, #000000, #000e1c);
    background-size: 1200% 1200%;
    -webkit-animation: AnimationName 100s ease infinite;
    -moz-animation: AnimationName 100s ease infinite;
    animation: AnimationName 100s ease infinite;
}

html.light {
    background: linear-gradient(271deg, #ffffff, #b4cdec, #ffffff, #bccce0);
    background-size: 1200% 1200%;
    -webkit-animation: AnimationName 100s ease infinite;
    -moz-animation: AnimationName 100s ease infinite;
    animation: AnimationName 100s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
